{% extends 'backend/backend_base.html' %}
{% block title %}
    添加分类
{% endblock %}
{% block site_name %}
    添加分类
{% endblock %}
{% block home %}
    <div>
        <br>
        <p>分类名：</p>
        <p>
            <input type="text" name="title" class="form-control" id="title">
        </p>
        <br>
        <span style="color: red" id="error"></span>
        <br>
        <br>
        <input type="button" id="add_category" value="提交" class="btn btn-success">
        <a href="javascript:location.href='/category/'" class="btn btn-danger">返回</a>

    </div>
    <script>
        $('#add_category').click(function () {
            $.ajax({
                url: '',
                type: 'post',
                data: {
                    'title': $('#title').val(),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (data) {
                    if (data.code == 1000) {
                        $('#error').text(data.msg);
                        window.location.href = data.url
                    } else {
                        $('#error').text(data.msg)
                    }
                }
            });
        });
    </script>
{% endblock %}


