{% extends 'base.html' %}

{% block title %}
    首页--久久博客
{% endblock %}
{% block content %}
    <div class="col-md-10">
        <ul class="media-list">
            {% for article in page_queryset %}
                <li class="media"><a href="/{{ article.blog.userinfo.username }}/article/{{ article.pk }}"><h4
                        class="media-heading">
                    {% if article.stick %}
                    [置顶]
                    {% endif %}
                    {{ article.title }}
                </h4></a>
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="/media/{{ article.blog.userinfo.avatar }}" alt="..."
                                 width="60">
                        </a>
                    </div>
                    <div class="media-body">
                        {{ article.desc }}
                    </div>

                    <br>
                    <span><a href="/{{ article.blog.userinfo.username }}/">{{ article.blog.userinfo.username }}&nbsp;&nbsp;</a></span>
                    <span>发布于&nbsp;&nbsp;{{ article.create_time|date:'Y-m-d' }}&nbsp;&nbsp;</span>
                    <span><span
                            class="glyphicon glyphicon-comment"></span>评论数({{ article.comment_num }})&nbsp;&nbsp;</span>
                    <span><span class="glyphicon glyphicon-thumbs-up"></span>点赞数({{ article.up_num }})</span>
                </li>
                <hr>
            {% endfor %}
        </ul>
        <div style="text-align: center">
            {{ page_obj.page_html|safe }}
        </div>
    </div>


{% endblock %}

{% block js %}
    <script>
        $('#b1').on('click', function () {
            $.ajax({
                url: '/set_password/',
                type: 'post',
                data: {
                    'old_password': $('#old_password').val(),
                    'new_password': $('#new_password').val(),
                    'confirm_password': $('#confirm_password').val(),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (data) {
                    if (data.code == 1000) {
                        window.location.href = data.url
                    } else {
                        $('#error').text(data.msg)
                    }
                }
            })
        })
    </script>
{% endblock %}

