{% extends 'base.html' %}

{% block title %}
    用户注册--久久BBS论坛
{% endblock %}

{% block sidebar %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">侧边栏1</h3>
        </div>
        <div class="panel-body">
            侧边栏内容1
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">侧边栏2</h3>
        </div>
        <div class="panel-body">
            侧边栏内容2
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">侧边栏3</h3>
        </div>
        <div class="panel-body">
            侧边栏内容3
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-lg-offset-1">
            <h2 class="text-center">用户注册</h2>
            <form id="myform" novalidate>
                {% csrf_token %}
                {% for foo in form_obj %}
                    <div class="form-group">
                        <lable for="{{ foo.auto_id }}">{{ foo.label }}</lable>
                        {{ foo }}<span style="color: red" class="pull-right"></span>
                        <br>
                    </div>
                {% endfor %}
                <div class="form-group">
                    <label for="myfile">头像
                        <img src="/static/img/default.png" alt="" width="80" style="margin-left: 10px" id="myimg">
                    </label>
                    <input type="file" id="myfile" name="avatar" style="display: none">
                </div>
                <br>
                <br>
                <div class="pull-right">
                    <input type="button" id="reg" class="btn btn-success" value="点击注册">
                    <a href=""></a>&nbsp;&nbsp;已有账号:<a href="/login/">去登陆</a>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}

{% block js %}
    <script>

        //调整上传文件的配置
        $('#myfile').change(function () {
            // 文件阅读器
            //1 产生一个文件阅读器对象
            var fileReader = new FileReader();
            //2 获取用户上传的文件
            var fileObj = $(this)[0].files[0];
            //3 让文件阅读器读取该文件
            fileReader.readAsDataURL(fileObj);  // 这一步是异步 提交完之后直接运行下一行
            //4 利用文件阅读器将文件展示出来
            fileReader.onload = function () {
                $('#myimg').attr('src', fileReader.result)
            }
        });

        // 注册逻辑
        $('#reg').click(function () {
            var formdata = new FormData();
            $.each($('#myform').serializeArray(), function (index, obj) {
                formdata.append(obj.name, obj.value)
            });
            formdata.append('avatar', $('#myfile')[0].files[0]);

            $.ajax({
                url: '',
                type: 'post',
                data: formdata,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.code == 1000) {
                        window.location.href = data.url
                    } else {
                        $.each(data.msg, function (index, obj) {
                            var targetId = '#id_' + index;
                            $(targetId).next().text(obj[0]).parent().addClass('has-error')

                        })
                    }
                }
            });
        });
        $('input').focus(function () {
            $(this).next().text('').parent().removeClass('has-error')
        });
    </script>

{% endblock %}
